body {
  margin: 0;
  padding: 0 0 0 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navbar {
  margin-bottom: 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.center {
  width: 50vw;
  margin: 20px auto 20px auto;
}
.parent {
  position: relative;
}
.child-one {
  position: absolute;
  right: 0;
}
#centerPaginate {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.header {
  font-family: sans-serif;
  font-size: 16px;
  display: grid;
  grid-template-columns: 1.25fr 4fr 1fr 1.5fr;
}
#filterbox,
#searchbox,
#newbtn,
#sortbox {
  color: aliceblue;
  justify-self: center;
  align-self: center;
}
.sortbtn:nth-of-type(1) {
  margin-right: 10px;
  z-index: 1;
}
@media only screen and (max-width: 768px) {
  .center {
    width: 75vw;
  }
}
@media only screen and (max-width: 600px) {
  .center {
    width: 90vw;
  }
}
